* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --iris: #4D5AE5;
  --ocean: #404BBF;
  --dark: #2e2f42;
  --green: #31D0AA;
  --body-text: #434455; 
  --light-slate:#8E8F99;
  --cornflower:#E7E9FC;
  --cloud:#F4F4FD;
  --modal:#2E2F42;
  --hero: #2E2F42;
  --white:#fff;
  --dairy:#FCFCFC;
}



body {
  font-family: "Roboto","Raleway", sans-serif;
  background-color: #fff;
  color: var(--body-text);
}

h1,
h2,
h3,
h4,
h5,
h6
{
  margin:0;

}

.list{
  list-style: none;
  padding-left:0;
  margin:0;
  flex-basis: calc((100% - 30px)/4);
}

.links{
  text-decoration:none;
}

img{
  display: block;
  max-width: 100%;
  height:auto;
}

.wrapper{
  min-height: 100vh;
  width: 100%;
}
/* page heading */

.sticky {
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0px;
  justify-content: center;
  width: 100%;
  height: 5%;
  border-bottom: 1px solid var(--cornflower);
  background: var(--white);
  gap: 400px;
  padding: 30px;
  z-index: 2;
}

.sticky nav {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.sticky nav a {
  text-decoration: none;
  color: var(--body-text);
  transition-duration: 0.4s;
}

.sticky nav a:hover {
  text-decoration: none;
  color: var(--iris);
}

.header-content {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.header-content li {
  list-style-type: none;
}

.communication {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.communication li {
  list-style-type: none;
}

.contact-info ul li a {
  text-decoration: none;
  color: var(--body-text);
  transition-duration: 0.4s;
}

.contact-info ul li a:hover {
  text-decoration: none;
  color: var(--iris);
}

/* logo */
.logo {
  display: flex;
  margin-right: 23px;
}

.logo1 {
  color: var(--iris);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo2 {
  color: var(--dark);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo3 {
  color: var(--cloud);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

/* navigations */

.navigation {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

/* page main */




.title-container {
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top:188px;
  padding-bottom: 188px;
  background-color: var(--dark);
  background-image:linear-gradient(rgba(46,47,66,0.7), rgba(46,47,66,0.7)), url('../images/bgimage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  width: 1158px;
  padding-left:15px;
  padding-right:15px;
  margin: 0 auto;
}

.contain-title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 80%;
  gap:30px;
  margin-left: 25%;
  
}

.the-title{
  z-index: 2;
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
}



.order-service {
  z-index: 2;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  color: var(--white);

  /* Button Text */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.order-service:hover {
  outline: var(--ocean);
  background: var(--ocean);
  color: var(--white);
}

.order-service:active {
  transform: scale(0.95);
}

/* Second Section */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.no-padding-top{
  display: inline-block;
  text-align: center;
  padding-bottom: 120px;
}

.wwd{
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}


.contents-container {
  display: flex;
  flex:wrap;
  width: 100%;
  gap:10px;
}

.icon-ontop{
  display: flex;
  width: 100%;
  height: 112px;
  flex-shrink: 0;
  list-style-type: none;
  border-radius: 5px;
  margin-bottom: 15px;
  gap:20px;
}

.center-svg{
  padding: 10px;
  border-radius: 5px;
  background-color: var(--cloud);
}

.contents-container h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 10px;
}

.contents-container p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

.no-top-padding{
  padding-top:0;
  padding-bottom: 120px;
}

/* Works */

.work-images {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 30px;
}

.work-images li {
  list-style-type: none;
}

.work-images img {
  width: 360px;
  height: 300px;
}

.sub-headings {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 100px;
}

/* Our Team */


.team-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.worker-names {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.card p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  align-self: stretch;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

.info {
  display: flex;
  width: 232px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.info p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

/* ================== */
/* page footer */
/* ================= */
.main-footer {
  margin-top: auto;
  width: 100%;
  height: 300px;
  background-color: var(--dark);
 
}


.footer-container{
  display: flex;
  flex-direction: row;
  width: 1158px;
  padding-left:15px;
  padding-right:15px;
  margin: 0 auto;
  gap:40px;
}

.footer-typo {
  padding-top: 100px;
  width: 300px;
  height: 50%;
}

.footer-typo a {
  text-decoration: none;
}

.footer-typo p {
  color: var(--cloud);
  /* Body */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  margin-top: 10px;
}

.socials-container{
  width: 300px;
  height: 100%;
  padding-top:100px;
  display:flex;
  flex-direction: column;
  gap: 20px;
}

.socmed-header{
  color: var(--cloud);
}

.social-list{
  display: flex;
  list-style-type: none;
  gap:20px;
}


.socials-link{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--iris);
  padding: 10px;
  border-radius: 50%;
  transition: 1s;
}

.socials-link:hover{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--green);
  padding: 10px;
  border-radius: 50%;
}

.socialized{
  display: flex;
  flex-direction: row;
  gap:20px;
  margin-top:10px;
}

.worker-socials{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  transition: 1s;
}

.worker-socials:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--ocean);
}


/* ====================
    PORTFOLIO
==================== */

.porfolio-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 5%;
  padding: 20px;
  background-color: var(--iris);
}

.btn-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  gap: 24px;
  margin-top: 40px;
}

.btn-nav li {
  list-style-type: none;
}

.real-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  background: var(--cloud);
  color: var(--iris);

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.real-btns:hover {
  border: 1px solid var(--ocean);
  background-color: var(--ocean);
  color: white;
}

.real-btns:active {
  transform: scale(0.95);
}

.real-btns:focus {
  outline: none;
  border: 1px solid var(--ocean);
  background-color: var(--ocean);
  color: white;
}

.images-section {
  display: flex;
  align-items: center;
  width: 100%;
  height: 1500px;
  flex-direction: column;
  margin-bottom: 40px;
}

.image-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 100px;
}

.img-card {
  width:350px;
  height: 420px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  flex-shrink: 0;
  border: 1px solid var(--cornflower);
  background: var(--white);
}

.img-card img{
  padding-bottom: 15px;
}

.category{
  width: 100%;
  height: 20px;
  padding:10px;
}

.img-card h3 {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 10px;
}

.img-card p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 16px;
  align-self: stretch;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

/* customers section */

.customers-section{
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
  height: 600px;
  background-color: var(--white);
}

.customer-container{
  width: 1110px;
  height: 50px;

 
}

.customer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1110px;
  height: 200px;
  gap: 20px;
}

.icon-effect{
  padding:20px;
  border:solid 2px var(--light-slate);
  border-radius: 5px;
  fill: var(--light-slate);
  transition: 1s;
}

.icon-effect:hover{
  padding:20px;
  border:solid 3px var(--ocean);
  border-radius: 5px;
  fill: var(--ocean);
}